.greetings-style {
  position: relative;
  top: 50px;
  text-align: center;
}
.greetings-style [type="text"],
.greetings-style [type="submit"] {
  border: none;
  border-bottom: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  padding: 20px;
  margin: 10px;
}

.greetings-style [type="submit"] {
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.2s ease-in-out;
}

.greetings-style [type="submit"]:hover {
  background-color: yellowgreen;
  color: white;
}

.greetings-style [type="submit"]:active {
  transform: scale(0.95);
}

.greetings-style [type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
  color: yellowgreen;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.greetings-style [type="text"]:focus {
  outline: 0;
  border-color: yellowgreen;
}

.greetings-style [type="text"]::placeholder {
  text-align: center;
}

.greetings-style [type="text"]:focus::placeholder {
  transition: color 0.3s ease-in;
  color: yellowgreen;
}

@keyframes showingOff {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.greetings-style h1 {
  font-size: 50px;
  animation: showingOff 3s ease-in-out forwards;
}

.greetings-style__margin {
  padding-bottom: 100px;
}
