.main-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 150px;
  width: 100%;
}

.first-column {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.second-column {
  width: 50%;
}

.date-form {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 30px;
}
