@import "css/greetings.css";
@import "css/todo.css";
@import "css/top-bar.css";
@import "css/main-box.css";
@import "css/stopwatch.css";

body {
  background-image: 0jpg;
  height: 150vh;
  background-size: cover;
  position: relative;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}
