@import "css/greetings.css";
@import "css/todo.css";
@import "css/top-bar.css";
@import "css/main-box.css";
@import "css/stopwatch.css";

body {
  background-image: 0jpg;
  height: 150vh;
  background-size: cover;
  position: relative;
}

.hidden {
  display: none;
}

.show {
  animation: slow-move 0.4s cubic-bezier(0, 0.95, 1, 1) forwards;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes slow-move {
  0% {
    position: relative;
    right: -300px;
  }
  100% {
    position: relative;
    right: 50px;
  }
}
